{% set current_path = request.path %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema ERP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <!-- Bloco para adicionar CSS específico de cada página -->
    {% block css %}{% endblock %}
</head>
<body>

<div class="wrapper">
  {% block navbar %}
  <nav id="sidebar" class="sidebar d-flex flex-column text-white" style="border-right: 1px solid rgb(200, 200, 200);">
    <div class="d-flex justify-content-between align-items-center px-3" >
     <img id="logo-img" src="{{ url_for('static', filename='imagens/img-logo/horizontal-branca.jpg') }}" style="width: 10.5rem; margin-top: 17px; margin-left: 10px;">
        <button class="btn mt-3" id="sidebarMinimize">
          <i class="bi bi-chevron-double-left text-black"></i>
        </button>
    </div>

    <hr style="color: rgb(134, 134, 134);">

    <ul class="nav nav-pills flex-column mb-auto mt-3">
      <span class="nav-title" style="color: rgb(134, 134, 134); margin-left: 40px; font-size: 14px;">NAVEGAÇÃO</span>
  
<li>
  <!-- se o usuario clicar no url_for do dashboard ele muda de cor, se nao, fica texto branco -->
  <a href="{{ url_for('dashboard.dashboard') }}" class="nav-link {% if current_path == url_for('dashboard.dashboard') %}active{% else %}text-black{% endif %} mt-2">
    <i class='bi bi-house-door me-2 fs-6'></i> 
    <span class="menu-text">Dashboard</span>
  </a>
</li>

<li>
  <a href="{{ url_for('moradores_bp.listar_moradores') }}" class="nav-link {% if 'moradores' in current_path %}active{% else %}text-black{% endif %} mt-2">
    <i class='bi bi-person me-2 fs-6'></i> 
    <span class="menu-text">Moradores</span>
  </a>
</li>

<li>
  <a href="{{ url_for('veiculos_bp.listar_veiculos') }}" class="nav-link {% if 'veiculos' in current_path %}active{% else %}text-black{% endif %} mt-2">
    <i class='bi bi-car-front me-2 fs-6'></i> 
    <span class="menu-text">Veículos</span>
  </a>
</li>

<li>
  <a href="{{ url_for('historico_bp.listar_historico') }}" class="nav-link {% if 'historico' in current_path %}active{% else %}text-black{% endif %} mt-2">
    <i class='bi bi-arrow-counterclockwise me-2 fs-6'></i>
    <span class="menu-text">Histórico</span>
  </a>
</li>

</ul>

<ul class="nav nav-pills flex-column mb-auto mt-3">
      <span class="nav-title" style="color: rgb(134, 134, 134); margin-left: 40px; font-size: 14px;">STATUS DO SISTEMA</span>
      <li>
        <a class="nav-link {% if 'sistemaonline' in current_path %}active{% else %}text-black{% endif %} mt-2">
          <i class='bi bi-circle-fill me-2' style="color: rgb(6, 182, 6); font-size: 8px;"></i>
          <span class="menu-text">Sistema online</span>
        </a>
      </li>

      <li>
        <a href="{{ url_for('notificacoes_bp.notificacoes') }}" class="nav-link {% if 'notificacoes' in current_path %}active{% else %}text-black{% endif %} mt-2">
          <i class='bi bi-bell me-2 fs-6'></i> 
          <span class="menu-text">Notificações</span>
        </a>
      </li>
</ul>
  
<div class="mt-auto mb-4">
  <ul class="nav nav-pills flex-column mt-auto">
    <li><a href="{{ url_for('auth.logout') }}" class="nav-link text-black"><i class='bi bi-arrow-left-circle me-2 fs-6'></i><span class="menu-text">Sair</span></a></li>
  </ul>
</div>
  </nav>

  {% endblock %}  

  <div class="main-content {% block main_content_class %}{% endblock %}">
    {% block content %}{% endblock %}

    {% block footer %}
    <footer class="footer">
      <p class="mt-1" >&copy; 2025 NextSoft Technology. Todos os direitos reservados.</p>
    </footer>
  {% endblock %}
    
  </div>
</div>

  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    
</body>
</html>

