{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reconhecer.css') }}">

{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<main class="bg-img">

  <! MENU PRINCIPAL -->
  <div id="menuOpcoes" class="menu-container">
    <button class="menu-btn" onclick="abrirFacial()">RECONHECIMENTO FACIAL</button>
    <button class="menu-btn" onclick="abrirCodigo()">CÓDIGO DE ACESSO</button>
  </div>

  <!-- ÁREA DO RECONHECIMENTO -->
  <div id="faceArea">
    <h1 style="text-align:center;">Reconhecimento Facial</h1>

    <div style="background: rgba(255, 255, 255, 0.167); box-shadow: -1px 4px 28px rgba(0,0,0,0.75); padding:1rem; border-radius: 40px; display:inline-block;">
      <video id="videoReconhecer" autoplay style="width: 100%; max-width: 400px; border-radius: 40px;"></video>
      <p id="status" style="color:white;">Aguardando...</p>
        <!-- BOTÃO VOLTAR (NOVO) -->
      <button id="voltarFace" class="botao-estilo" style="margin-top: 10px;">
        <i class="bi bi-arrow-bar-left fs-6 me-2"></i>VOLTAR
      </button>
    </div>
  </div>

  <!-- ÁREA DO CÓDIGO -->
  <div id="codigoArea">
    <div class="content rounded-4">
    <h1 style="text-align:center; color:white;">Acesso por Código</h1>
      <br>
    <input id="codigoInput" style="border-radius: 20px;" placeholder="Digite seu código...">
    <br>
    <button id="confirmarCodigo">CONFIRMAR</button>

    <p id="codigoStatus" style="margin-top:10px; color:white;"></p>

    <!-- BOTÃO VOLTAR -->
    <button id="voltarCodigo" class="botao-estilo"><i class="bi bi-arrow-bar-left fs-6 me-2"></i>VOLTAR</button>
  </div>
</div>

</main>

<script>
  function abrirFacial() {
    document.getElementById("menuOpcoes").style.display = "none";
    document.getElementById("faceArea").style.display = "block";
  }

  function abrirCodigo() {
    document.getElementById("menuOpcoes").style.display = "none";
    document.getElementById("codigoArea").style.display = "block";
  }

  // 🔙 botão voltar da tela facial
  document.getElementById("voltarFace").addEventListener("click", function () {
    document.getElementById("faceArea").style.display = "none";
    document.getElementById("menuOpcoes").style.display = "flex";
  });
</script>

<script defer src="https://unpkg.com/face-api.js@0.22.2/dist/face-api.min.js"></script>
<script src="{{ url_for('static', filename='js/reconhecer.js') }}"></script>

{% endblock %}
