{% extends "base.html" %}

{% block css %}
    <!-- Link para o CSS específico da página de login -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/veiculos.css') }}">
{% endblock %}

{% block content %}

<nav class="navbar" style="padding: 10px 24px;">
  <a class="navbar-brand">
    <div class="navbar-brand fw-bold mt-2" style="font-size: 35px; color: rgb(27, 27, 27);">Veículos Cadastrados</div>
  </a>
</nav>

<main class="container-fluid px-4 fade-in">

<br>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} text-center w-50 mx-auto mt-3" style="background-color: #DBEAFF; color: #2f60e6; border: 1px solid #2f60e6;">
        <p style="margin: 0;">{{ message }}</p>
        <button type="button" class="btn-close position-absolute end-0 top-50 translate-middle-y me-2" data-bs-dismiss="alert" aria-label="Fechar"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="info d-flex mt-2" 
     style="background-color: #fff; padding: 13px; border-radius: 12px;
            box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);">

  <div class="navbar-container" style="flex: 1; width: 100%;"> 
    <form method="GET" action="{{ url_for('veiculos_bp.listar_veiculos') }}" style="width: 100%;">
      <div class="search-container" 
           style="display: flex; align-items: center; border: 1px solid #c3c3c3;
                  border-radius: 4px; padding: 5px; margin-right: 10px; width: 100%;">
        <i class="bi bi-search ms-2 me-2 fs-6" style="color: #838282e8;"></i>
        <input type="text" name="q"
               style="padding: 5px; font-size: 16px; border: none; border-radius: 4px; width: 100%;" 
               placeholder="Pesquisar por placa, proprietário ou modelo..."
               value="{{ request.args.get('q', '') }}">
      </div>
    </form>
  </div>
</div>

<br>

<div class="ag-courses-item_bg"></div>
  <div class="info d-flex mt-2" style="background-color: #fff; padding: 20px; border-radius: 12px;box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);">
    <i class='bi bi-car-front me-2 fs-4' style="color: #47124f;"></i>   
    <div class="d-flex flex-column">

      <span class="fw-semibold fs-5">Todos os Veículos</span>
        <hr style="color: #838282e8; width: 70rem;">

    <div class="acessos-list">
  
        {% for veiculo in veiculos %}
      <div class="d-flex align-items-left">
        <div style="width: 4rem; height: 4rem; border-radius: 12px; align-items: center; display: inline-flex; background-color: #efe2f9;">
          <i class='bi bi-car-front fs-4' style="color: #47124f; margin-left: 20px;"></i>
        </div>
            <!-- Coluna 1: Placa, Morador, Modelo -->
    <div class="col d-flex flex-column ms-3">
      <span class="fw-bold fs-5">{{ veiculo.placa }}</span>

      <span class="fw-semibold" style="color: #666; font-size: 14px;">
        {{ veiculo.morador.nome_morador if veiculo.morador else '---' }}
        <span class="ms-1">
          <i class="bi bi-house-door me-1 fs-6"></i>
        Apt {{ veiculo.morador.apartamento_morador or '---' }}
        </span>
      </span>

      <span style="color: #666; font-size: 14px;">
        {{ veiculo.modelo or '---' }}
        <span class="ms-1">
        / {{ veiculo.cor or '---' }}
        </span>
      </span>
      <br>
      <hr style="color: #838282e8; width: 65rem;">
    </div>

      </div>
        {% endfor %}
        </div>
              
    </div>
</div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}