*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'system-ui';
}

.bg-img{
  background-image: url('../imagens/1-cond.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}

.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
  border-radius: 20px;
}

.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}

.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  border-radius: 20px;
}

.space{
  margin-top: 16px;
}

.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}

.pass-key:valid ~ .show{
  display: block;
}

.pass{
  text-align: left;
  margin: 10px 0;
}

.pass a{
  color: white;
  text-decoration: none;
}

.pass:hover a{
  text-decoration: underline;
}

.field1 input[type="submit"]{
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background-color: transparent;
  border-radius: 20px;
}

.field1 input[type="submit"]:hover{
  background: #efe2f9;
  border: 1px solid rgb(27, 27, 27);
  color: rgb(27, 27, 27);
}

.bg-img .empresa {
  position: absolute;   /* z-index só funciona com o position absolute */
  z-index: 9999;           /* garante que fique acima de tudo */
  pointer-events: none;    /* evita que bloqueie cliques nos elementos abaixo */
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
}

#logo-img {
  position: absolute;   /* z-index só funciona com o position absolute */
  bottom: 0; /* encosta na parte inferior da tela */
  right: 0; /* encosta na lateral direita */
  width: 55rem;
  z-index: 9999;           /* garante que fique acima de tudo */
  pointer-events: none;    /* evita que bloqueie cliques nos elementos abaixo */
}

/* Ajuste para telas médias (tablets e notebooks pequenos) */
@media (max-width: 1024px) {
  #logo-img {
    width: 45vw;
  }
}

/* Ajuste para telas pequenas (celulares) */
@media (max-width: 768px) {
  #logo-img {
    position: static; /* remove o absoluto, para não sobrepor o conteúdo */
    display: block;
    margin: 30px auto 0 auto;
    width: 80%;
  }
}

.btn-outline-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-outline-white:hover {
  background-color: #efe2f9;
  color: rgb(27, 27, 27);
  border: 1px solid rgb(27, 27, 27);
}

/* Fundo animado */

.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(1){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
}