.bg-img {
  background-image: url('../imagens/1-cond.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; /* cria o contexto pro :after */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0; /* Fica por baixo */
}

/* Garante que o conteúdo fique acima do fundo escuro */
.bg-img > * {
  position: relative;
  z-index: 1;
  color: white; /* opcional, melhora contraste */
}

.main-content {
  margin-left: 0 !important;
}

#videoReconhecer {
  width: 22rem;           /* controla a largura (60% da tela) */
  height: 32rem;          /* aumenta a altura */
  object-fit: cover;     /* preenche o espaço cortando bordas se necessário */
  border-radius: 10px;   /* opcional: cantos arredondados */
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
  z-index: 1;
  border-radius: 40px;
}

.bg-img > div {
  position: relative;
  z-index: 2;  /* acima do overlay */
}

.btn-outline-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-outline-white:hover {
  background-color: #efe2f9;
  color: rgb(27, 27, 27);
  border: 1px solid rgb(27, 27, 27);
}

.menu-container {
    display: flex;
    flex-direction: column; /* vertical */
    align-items: center;    /* centraliza os botões horizontalmente */
    gap: 1rem;              /* espaçamento entre os botões */
}

.menu-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #6a00ff;
  color: white;
  padding: 20px;
  width: 300px;
  font-size: 22px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: .3s;
}

.menu-btn:hover {
  background: rgba(106, 0, 255, 0.3);
  transform: scale(1.05);
}

#faceArea, #codigoArea {
  display: none;
  margin-top: 20px;
  text-align: center;
}

#codigoInput {
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  outline: none;
}

#confirmarCodigo {
  margin-top: 15px;
  padding: 10px 20px;
  background: #28044C;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.content{
  position: absolute;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.botao-estilo {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 13px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  align-items: center;
  margin-top: 10px; /* mantém espaçamento */
  float: left;
}

.botao-estilo:hover {
  background: #efe2f9;
  border: 1px solid rgb(27, 27, 27);
  color: rgb(27, 27, 27);
}
